body {
        font-size: 18pt;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: fixed no-repeat linear-gradient(to bottom, #002555, black);
        color: white;
        font-family: 'Poppins', sans-serif;

}

.thoughts-page {
    border: 1px solid white;
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 50px;
    color: white;
    height: 4rem;
    width: 8rem;
    border-radius: 10px;
    background: #FFFFFF20;
    box-shadow: 0 10px 10px #00000050;
    font-family: 'Poppins', serif, sans-serif;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.thoughts-page::after {
    content: "Redirecting";
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    color: #ffffff;
    padding: 5px;
    border-radius: 8px;
    width: 20vw;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.thoughts-page:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(10px)
}

.img {
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
        perspective: 1000px;
        border: 5px solid #ffffff;
        border-radius: 50%;
        transition: all 0.3s ease;
}


.img img {
        width: 100%;
        height: 100%;
        border: 50% solid transparent;
        border-radius: 50%;
        transition: all 0.3s ease;
        transform-style: preserve-3d;
        box-shadow: 0 0 30px #00000070;
        background-color: #ffffff;
}

.img:hover img {
        transform: scale(1.1);
        filter: saturate(150%);
}

.intro {
        position: relative;
        top: 20vh;
        height: 90vh;
}

h1 {
        text-align: center;
        font-weight: 600;
        color: #0070FF;
        text-shadow: 0 0 20px currentColor;
        font-size: 32pt;
        animation: pop 1s forwards ease-in-out;
}

.intro p {
        text-align: center;
        text-shadow: 0 0 16px currentColor;
        opacity: 0;
        font-weight: 200;
        animation: pop 1s 1s forwards ease-in-out;
}

.intro button {
        background: #0070FF10;
        border: 1px solid #0070FF;
        height: 80px;
        width: 200px;
        border-radius: 16px;
        box-shadow: 10px 20px 16px #00000070, 0 0 10px #0070FF, inset 0 0 10px #0070FF;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 15pt;
        letter-spacing: 2px;
        position: relative;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .2s ease-in-out;
        opacity: 0;
        animation: fade 1s 2s forwards ease-in-out;
}

.intro button:hover {
        box-shadow: 0 0 30px #0070FF;
        text-shadow: 0 0 16px white;
        transform: translate(-50%, -50%) scale(1.1);
}

.intro button:active {
        filter: brightness(80%);
        transform: translate(-50%, -50%) scale(1);
}

.arrow {
        transform: rotate(90deg);
        text-align: center;
        font-weight: 100;
        font-size: 28pt;
        animation: arrow 1s infinite, fade 1s 2s forwards;
        position: relative;
        top: -50px;
        opacity: 0;
        margin: 100px;
        text-shadow: 0 0 16px white;
}


.intro .light-blue {
        background: #0070FF;
        height: 300px;
        width: 300px;
        filter: blur(150px) brightness(150%);
        position: absolute;
        left: -10rem;
        top: 30rem;
        opacity: 0;
        animation: fade 1s 2s forwards ease;
}

.intro .light-red {
        background: hotpink;
        height: 300px;
        width: 300px;
        filter: blur(150px) brightness(150%) saturate(200%);
        position: absolute;
        right: -1rem;
        bottom: 60rem;
        opacity: 0;
        animation: fade 1s 2s forwards ease;
}

@keyframes fade {
        from {
                opacity: 0;
        }

        to {
                opacity: 1;
        }
}

@keyframes pop {
        from {
                opacity: 0;
                transform: translateY(20px);
        }

        to {
                opacity: 1;
                transform: translateY(0);
        }
}

@keyframes arrow {
        25% {
                transform: translateY(0) rotate(90deg);
        }

        50% {
                transform: translateY(10px) rotate(90deg);
        }

        100% {
                transform: translateY(0) rotate(450deg);
        }
}


.about h2 {
        text-align: center;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 8px;
        text-shadow: 0 0 16px white;
}

.about p {
        padding: 20px;
        text-align: justify;
}

.about span {
        text-shadow: 0 0 32px currentColor;
        filter: brightness(200%);
}

.song {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.music {
    margin-top: 20px;
    background: linear-gradient(45deg, #FF6B00, #FF0084, #002AFF);
    padding: 20px;
    border-radius: 10px;
}

h5, h6 {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

audio {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
}

audio::-webkit-media-controls-panel {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px black;
}

audio::-webkit-media-controls-panel * {
    color: white !important;
    text-shadow: 0 0 5px black;
}

audio::-webkit-media-controls-volume-slider::-webkit-slider-thumb {
    background-color: #fff;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

audio::-webkit-media-controls-volume-slider::-webkit-slider-runnable-track {
    background-color: #888;
    height: 3px;
}

.info {
    background: white;
    color: black;
    font-size: 16pt;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 30px white;
    position: relative;
    top: -210vh;
    transform: translateX(-200%) rotate(30deg) skew(50deg);
    transition: all .5s ease;
}

.brief {
        padding: 20px;
}

.brief h3 {
        text-align: center;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 8px;
        text-shadow: 0 0 16px white;
}

.brief p {
        text-align: justify;
        letter-spacing: 2px;
}



footer {
        width: 100%;
        color: #fff;
        padding: 20px;
}

footer h4 {
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-bottom: 20px;
}

.social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
}

.social-icons div {
        margin: 0 10px;
        transition: all 0.1s ease-in-out;
        display: flex;
        align-items: center;
}

.social-icons i {
        color: white;
        font-size: 28pt;
}

.social-icons p {
        font-size: 18pt;
        margin-left: 5px;
        padding: 20px;
        transition: all .3s ease-in-out;
}



.social-icons div:hover {
        transform: scale(1.2);
}

.yt:hover {
        color: red;
        text-shadow: 0 0 32px currentColor;
}

.insta:hover {
        color: hotpink;
        text-shadow: 0 0 32px currentColor;
}

.social-icons a {
        text-decoration: none;
        color: white;
        font-weight: 300;
}