:root {
    --primary: #007bff;
    --secondary: #f8f9fa;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--secondary);
    color: #333;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    position: relative;
    top: 10vh;
    color: #333;
    transition: all .3s ease;
}

#info {
        color: lime;
        text-shadow: 0 0 16px currentColor;
}

.form {
    position: relative;
    top: 10vh;
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 8px #007BFF;
    transition: all .3s ease;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #333;
    border-radius: 8px;
    background: #f3f3f3;
    color: #333;
    font-family: 'Poppins';
    outline: none;
    resize: none;
    transition: all 0.3s ease;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    border-bottom: 4px solid var(--primary);
    outline: 1px solid var(--primary)
}



.form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--primary);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins';
}

.form input[type="submit"]:hover {
    background: #0056b3;
    box-shadow: 0 0 16px var(--primary);
}

.theme {
    position: absolute;
    top: 2rem;
    right: 2rem;
    transform: scale(2);
}

.theme i {
        font-size: 12px;
        transition: all .3s ease;
}

.theme i:hover {
        color: var(--primary);
        text-shadow: 0 0 10px var(--primary);
}